

<div class="container">
<div class="row">
<div class="col-md-8">

<!-- <div class="row"> -->
  <!-- <div class="col-md-4"> -->
      <%= image_tag('tasks_screen.png', :class=>"sign_in_image") %>
<br>
<br>
<br>


<!-- </div> -->



<!-- </div> -->

<!-- <div class="row"> -->
  <!-- <div class="col-md-4"></div> -->
    <!-- <div class="col-md-4"> -->


      <%= image_tag('calendar_shot.png', :class=>"sign_in_image") %>
    <!-- </div> -->
<!-- </div> -->
</div>
<div class="col-md-4">
    <div class="row">

        <div class="login_form">

          <div class="login_form_title">
             Sign In
          </div>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <br>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, :class=>"form_description_box" %>
            </div>
            <br>
            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", :class=>"form_description_box" %>
            </div>
            <br>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            <br>

            <div class="actions">
              <%= f.submit "Log in", :class=>"button" %>
            </div>

          <% end %>
          <br>

          <%= render "devise/shared/links" %>

          <br>

  </div>
</div>
</div>

</div>
</div>
