<!DOCTYPE html>
<html>
  <head>
    <title>HabiChat</title>

    <!-- Tasks -->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track': true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Javascript -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a href="/">
            <ul class="nav navbar-nav navbar-left">
              <li><img class="logo" src="/images/HabiChatLogo.png"></li>
              <!-- <li class="brand-name">HabiChat</li> -->
            </ul>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", tasks_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Calendar", calendar_url %></li>
              <li><%= link_to "Chat room", 'chats/show' %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
            <li><%= link_to "About", "https://github.com/laurenrosie/HabiChat" %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <% if user_signed_in? %>
      <h1 class = "welcome">Welcome, <%= current_user.username %>!</h1>
    <% end %>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>

  </body>
</html>
